*{margin:0;padding:0;outline:0}

.clear{
    overflow:hidden;
}
body{
    height: 100%;
    width: 100%;
    font-size:18px;
    font-family:arrial;
    line-height:25px;
    color:#444;
    background: url(Images/bg.jpg);
    background-attachment: fixed;
}
.overview{
    margin: 0 auto;
    width: 1150px;
    height: 100%;
}
.search{
    margin-top: 10px;
    margin-left: 50px;
    width: 1050px;
    height: 60px;
    background: #B2BABB;
    border-radius: 3px;
}
input[type="search"]{
    width: 950px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 10px;
    border-style: none;
    padding-left: 20px;
    color: #444444;
}
.add{
    margin-top: 2px;
    margin-left: 50px;
    float: left;
    width: 500px;
    height: 100%;
}
.addhead{
    width: 500px;
    height: 60px;
    background: #B2BABB;
    color: #444444;
    border-radius: 3px;
}
.addhead p{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
}
.addsection{
    margin-top: 2px;
    width: 500px;
    height: 515px;
    border-radius: 3px;
    background: #B2BABB;
}
input[type="text"]{
    width: 375px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 40px;
    border-style: none;
    padding-left: 20px;
    color: #444444;
}
.select{
    width: 395px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
    border-style: none;
    padding-left: 20px;
    color: #444444;
}
input[type="date"]{
    width: 375px;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
    border-style: none;
    padding-left: 20px;
    color: #444444;
}
input[type="button"]{
    width: 395px;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
    border-style: none;
    cursor: pointer;
    color: #444444;
}
input[type="button"]:hover{
    cursor: pointer;
    color:#ffffff;
    background: #444444;
    transition:1.5s;
}
#warning{
    color:red;
    margin-left: 50px;
}
.list{
    margin-top: 2px;
    margin-right: 50px;
    float: right;
    width: 500px;
    height: 100%;
}
.listhead{
    width: 500px;
    height: 60px;
    background: #B2BABB;
    color: #444444;
    border-radius: 3px;
}
.listhead p{
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
}
.listsection{
    margin-top: 2px;
    width: 500px;
    height: 40px;
    border-radius: 3px;
    display: block;
}
.listsection ul{
    width: 100%;
    height: 100%;
    background: #B2BABB;
}
.listsection ul li{
    float: left;
    list-style: none;
    width: 25%;
    height: 40px;
    border-radius: 3px;
    position: relative;
    background: #B2BABB;
    text-align: center;
}
.listsection ul li:hover{
    background: #444444;
}
.listsection ul li a{
    padding-top: 9px;
    text-decoration: none;
    color: #444444;
    display: block;
}
.listsection ul li:hover a{
    color: #ffffff;
}

.listsection ul li ul{
    position: absolute;
    margin-left: -2000px;
    display: block;
    color: #444444;
}
.listsection ul li:hover ul{
    margin-left: 0px;
    margin-top: 6px;
}
.listsection ul li ul li{
    width:100%;
    background: #4d44d;
}
.listsection ul li:hover ul li{
}
.listsection ul li ul li a{
    text-decoration: none;
    color: #444444;
}
.production{
    width: 500px;
    margin-top: 2px;
    border-radius: 3px;
    height: 473px;
    background: #B2BABB;
}
.data{
    width: 96%;
    height: 47%;
    margin-left: 2%;
    margin-top: 2%;
    background: #eb9b9b;
    border-radius: 3px;
}

.head{
    height: 15%;
    width: 100%;
    border-bottom:1px solid #555555 ;
}
.head1{
    height: 100%;
    width: 50%;
    float: left;
}
.head2{
    height: 100%;
    width: 50%;
    float: right;
}
.info{
    height: 50%;
    width: 100%;
    margin-left: 10%;
}
.foot{
    height: 35%;
    width: 100%;
}
.button1{
    margin-top: 1.5%;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
    background: royalblue;
    text-align: center;
    border: none;
    cursor: pointer;
}
.button2{
    margin-top: 1%;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
    background: rgb(225, 65, 65);
    text-align: center;
    border: none;
    cursor: pointer;
}
.edit{
    margin-top: 20px;
    margin: 0 auto;
    width: 500px;
    height: 520px;
    background: #B2BABB;
    color: #444444;
    border-radius: 3px;
}